<link rel="import" href="../bower_components/polymerfire/firebase-app.html" />
<link rel="import" href="../bower_components/polymerfire/firebase-auth.html" />
<link rel="import" href="../bower_components/polymerfire/firebase-query.html" />
<link rel="import" href="../bower_components/polymerfire/firebase-document.html" />
<link rel="import" href="../bower_components/app-localize-behavior/app-localize-behavior.html">
<link rel="import" href="../bower_components/app-storage/app-indexeddb-mirror/app-indexeddb-mirror.html">


<link rel="import" href="../bower_components/polymer/polymer.html" />

<link rel="import" href="../bower_components/app-layout/app-toolbar/app-toolbar.html" />
<link rel="import" href="../bower_components/app-layout/app-header/app-header.html" />
<link rel="import" href="../bower_components/app-layout/app-drawer/app-drawer.html" />
<link rel="import" href="../bower_components/app-route/app-route.html" />
<link rel="import" href="../bower_components/app-route/app-location.html">


<link rel="import" href="../bower_components/paper-avatar/paper-avatar.html" />
<link rel="import" href="../bower_components/paper-input/paper-input.html" />
<link rel="import" href="../bower_components/paper-menu/paper-menu.html" />
<link rel="import" href="../bower_components/paper-button/paper-button.html" />
<link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html" />
<link rel="import" href="../bower_components/paper-menu-button/paper-menu-button.html" />
<link rel="import" href="../bower_components/paper-item/paper-item.html" />
<link rel="import" href="../bower_components/paper-card/paper-card.html" />
<link rel="import" href="../bower_components/paper-slider/paper-slider.html" />
<link rel="import" href="../bower_components/paper-progress/paper-progress.html" />
<link rel="import" href="../bower_components/paper-checkbox/paper-checkbox.html" />
<link rel="import" href="../bower_components/paper-stepper/paper-stepper.html" />
<link rel="import" href="../bower_components/paper-fab/paper-fab.html" />

<link rel="import" href="../bower_components/paper-drawer/paper-drawer.html" />
<link rel="import" href="../bower_components/paper-drawer/paper-drawer-title.html" />
<link rel="import" href="../bower_components/paper-drawer/paper-drawer-subheader.html" />
<link rel="import" href="../bower_components/paper-drawer/paper-drawer-icon-item.html" />

<link rel="import" href="../bower_components/iron-selector/iron-selector.html" />
<link rel="import" href="../bower_components/iron-list/iron-list.html" />
<link rel="import" href="../bower_components/iron-signals/iron-signals.html" />
<link rel="import" href="../bower_components/iron-pages/iron-pages.html" />
<link rel="import" href="../bower_components/iron-icons/iron-icons.html" />
<link rel="import" href="../bower_components/iron-icons/av-icons.html" />
<link rel="import" href="../bower_components/iron-flex-layout/iron-flex-layout.html" />

<link rel="import" href="../bower_components/polymer-sortablejs/polymer-sortablejs.html"/>


<script src="../js/Screen/Screen.js"></script>
<script src="../js/Screen/Screen_GamesList.js"></script>
<script src="../js/Screen/Screen_NewGameInstance.js"></script>