<dom-module id="nubs-login">
	<template>
		<style>
			#login-full-page{				
				background-color: var(--app-primary-color); 
				width: 100%;
				height: calc(100%);
				overflow: hidden;
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
			}
			facebook-link{
				border: 1px solid #ffffff;
				padding: 5px;
				border-radius: 5px;
				width: 50px;
				height: 50px;
			}
			paper-button{
				margin: 10px 0px 0px 0px;
				background-color: #ffffff;
			}
		</style>

		<firebase-auth 
			id="facebookAuth" 
			user="{{user}}"
			provider="facebook"
			status-known="{{statusKnown}}">
		</firebase-auth>
		<div id="login-full-page">
			<facebook-link height="50px" color="white"></facebook-link>
			<paper-button raised on-tap="login">Sign in</paper-button>
		</div>
	</template>

	<script>
		Polymer({
			is: 'nubs-login',
			properties: {
				user: {
					type: Object
				}
			},
			login: function() {
				FirebaseHelper.signIn();
			}
		})
	</script>

</dom-module>