<link rel="import" href="imports.html" />
<link rel="import" href="nubs-toolbar.html" />
<link rel="import" href="nubs-drawer.html" />
<link rel="import" href="nubs-login.html" />
<link rel="import" href="nubs-game.html" />
<link rel="import" href="nubs-games-list.html" />
<link rel="import" href="nubs-games-player.html" />
<link rel="import" href="nubs-game-ULTIMATUM.html" />
<dom-module id="nubs-app">
		<template>

		<style>
			:host {
				display: block;
				font-family: Roboto, sans-serif;
				margin: 0 auto;
				position: absolute;
				left: 0;
				top:0;
				right:0;
				bottom:0;
						
				--app-primary-color: #911eb3;  /* purple */
				--app-secondary-text-color: #B966D1;
			}
			main{
				width: 100%;
				height: calc(100% - 65px);
				overflow: auto;
				margin: 0 auto;
			}
			#spinner-contianer{
				width: 100%;
				height: 100%;
				overflow: hidden;
				display: flex;
				justify-content: center;
				align-items: center;
				background-color: var(--app-primary-color); 
			}
			paper-spinner {
				--paper-spinner-color: #ffffff;
			}

		</style>

		<firebase-app 
			auth-domain="nubs-25474.firebaseapp.com"
			database-url="https://nubs-25474.firebaseio.com/"
			api-key="AIzaSyBItAyW3tMMZiqunfq_4RLGyT42DPYafHU">
		</firebase-app>
		<firebase-auth 
			id="facebookAuth" 
			user="{{user}}"
			provider="facebook"
			status-known="{{statusKnown}}">
		</firebase-auth>
		<app-header fixed>
			<nubs-toolbar id="nubs-toolbar"></nubs-toolbar>
		</app-header>

		<main id="main-content">
			<div id="spinner-contianer">
				<paper-spinner active></paper-spinner>
			</div>
		</main>		
		
		
		<nubs-drawer></nubs-drawer>

	</template>

		<script>
			Polymer({
				is: 'nubs-app',
				observers: [
					'_updateScroll(route)'
				],
				_updateScroll: function() {
					window.scroll(0, 0);
				}
			})
		</script>
</dom-module>