<dom-module id="nubs-game">
	<template>
		<style>
			:host {
				display: block;
			}
			.card-container{
				width: calc(100% - 5%);
				margin: 0 auto;
				display: flex;
				flex-direction: row;
    			flex-wrap:wrap;
			}
			.step-label{
				color: #dddddd;
				margin: 0px 10px;
			}
			.step-label.iron-selected{
				color: #911eb3;
			}
			paper-card{
				display: inline-block;
				margin:10px 0 0 0;
				flex-grow: 1;
				width: calc(100% 10px - 1px);
			}

			paper-card .card-content {
				padding: 14px;
			}
			paper-card.player-card{
				display: block;
				margin:0 0 0 0;
				width: 100%;
				background-color: transparent;
				box-shadow: none;
				border-bottom: 1px solid #dddddd;
			}
			
			paper-card.player-card.list-header{
				background-color: #dddddd;
				color: #212121;
				border-radius: 0px;
				box-shadow: none;
				text-align: center;
			}
			.player-card-container.male{
				background-color: #636bd8;
				color: #ffffff;
			}
			.player-card-container.female{
				background-color: #d863c9;
				color: #ffffff;
			}

			.badge{
				min-width: 22px;
				height: 22px;
				line-height: 22px;
				font-size: 12px;
				border-radius: 50%;
				background-color: #bfbfbf;
				color: #212121;
				display: inline-block;
				vertical-align: top;
			}
			.badge.error{
				background-color: #E91E63;
				color: #ffffff;
			}
			paper-input{
				width: 150px;
			}
			paper-slider{
				width: 100%;
			}

			.game-header { @apply(--paper-font-headline); }
			.horizontal { @apply(--layout-horizontal); }
			.vertical {	@apply(--layout-vertical); }

			.buttonContainer{
				margin: 10px 0px;
			}
							
			paper-button.purple {
				background-color: var(--app-secondary-text-color) !important;
				color: #ffffff !important;
			}

			.gameData{
				width: calc(100% - 40px);
				margin: 0px 20px 0px 20px;
			}
			.dataInput{
				width: calc(100% - 100px);
				margin: 0px 50px 0px 50px;
			}
			.caption {
				padding-left: 12px;
				color: #a0a0a0;
			}
			.players-container{
				height: 300px;
				min-height: 300px;
				background-color: #dddddd;
				vertical-align: top;
				display: flex;
				justify-content: center;
				align-items: center;
			}
			.sortableColumn{
				display: inline-block;
				height: 100%;
				vertical-align: top;
				flex: 1
			}
			.sortableColumn paper-card{
				cursor: grab;
				cursor: -webkit-grab;
			}
			.sortableColumn paper-card.chosen{
				cursor: grabbing;
				cursor: -webkit-grabbing;
			}
			.sortableColumn.VS{
				width: 52px;
    			flex: 0;
				display: flex;
				flex-direction: column;
				align-items: flex-start;
			}

			.sortableColumn.VS .player-card-header{
				height: 51px;
				width: 52px;
			}
			
			.sortableColumn.VS paper-card{
				height: 67px;
				display: flex;
				justify-content: center;
				align-items: center;
				box-shadow: none;
				cursor: pointer;
			}
			.ghost {
				opacity: .5;
				background: #C8EBFB;
			}
			.avatar {
				border-radius: 50%;
				width: 30px;
				height: 30px;
				border: solid 2px #ffffff;
				vertical-align: top;
				margin-right: 16px;
				display: inline-block; 
			}
			.player-info {
				display: inline-block; 
			}
		</style>

			<paper-stepper progress-bar no-buttons selected="{{selected}}">
				<paper-step></paper-step>
				<paper-step></paper-step>
				<paper-step></paper-step>
			</paper-stepper>
			<div class="card-container">
					<paper-card>
						<div class="card-content">
							<div class="game-header">[[game.name]]</div>
								<iron-pages selected="[[selected]]">
									<div>
										<p>
											<div>Players: <span class="caption">[[game.players]]</span></div>
										</p>
										<p>
											<div>Game Data Between Players:</div>
										</p>
										<div class="gameData">	
											<template is="dom-repeat" items="[[game.data]]" as="data">
												<template is="dom-if" if="{{data.type == 'RANGE'}}">
													<div>[[data.name]]: <span class="caption"></span></div>
														<div class="dataInput">															
															<paper-input label="Minimum" value="{{data.min}}"></paper-input>
															<paper-input label="Maximun" value="{{data.max}}"></paper-input>
															<paper-input label="Default Value" value="{{data.default}}"></paper-input>
															
															<div>Preview</div>
															<paper-slider id="[[data.key]]" pin snaps min="[[data.min]]" max="[[data.max]]" step="1" value="{{data.default}}" editable></paper-slider>
														</div>
													</template>
												</template>
											</div>
									</div>
									<div>
										<p>
											<div>Organise Players :</div>
										</p>
										<div class="buttonContainer">
											<paper-button raised class="purple" on-tap="_randomisePlayers">Randomise</paper-button>
										</div>
										<div class="players-container">
											<div id="playerAList" data-list="A" class="sortableColumn">	
												<div class="player-card-header">												
													<paper-card class="player-card list-header">
														<div class="card-content">
															<div id="playersA" class="player-name">
																<span style="line-height: 20px;	font-size: 20px;color: #212121;">Player A</span>
																<div class="badge" for="playersA">[[playersA.length]]</div>
															</div>
														</div>
													</paper-card>
												</div>	
												<template is="dom-repeat" items="{{playersA}}" as="player">
													<div class$="player-card-container [[player.gender]]" data-col="A" id="playerA_{{index}}">											
														<paper-card class="player-card">
															<div class="card-content">
																<img class="avatar" src="[[player.photoUrl]]"/>
																<div class="player-info">
																	<div class="player-name">[[player.name]]</div>
																	<div class="player-age">{{_calculateAge(player.birthday)}}</div>
																</div>
															</div>
														</paper-card>
													</div>
												</template>
											</div>
											<div id="playerVsList" class="sortableColumn VS">												
												<div class="player-card-header">												
													<paper-card class="player-card list-header">
														<div class="card-content">
															<div class="player-name">VS</div>
														</div>
													</paper-card>
												</div>
												
												<template is="dom-repeat" items="{{playersA}}">
													<div class$="player-card-container">											
														<paper-card class="player-card">
															<div class="card-content">
																<div data-index$="{{index}}" on-tap="_swapPlayers">
																	<iron-icon icon="swap-horiz"></iron-icon>
																</div>
															</div>
														</paper-card>
													</div>
												</template>
											</div>
											<div id="playerBList" data-list="B" class="sortableColumn">
												<div class="player-card-header">												
													<paper-card class="player-card list-header">
														<div class="card-content">
															<div id="playersB" class="player-name">
																<span style="line-height: 20px;	font-size: 20px;color: #212121;">Player B</span>
																<div class="badge" for="playersB">[[playersB.length]]</div>
															</div>
														</div>
													</paper-card>
												</div>
												<template is="dom-repeat" items="{{playersB}}" as="player">
													<div class$="player-card-container [[player.gender]]" data-col="B" id="playerB_{{index}}">												
														<paper-card class="player-card">
															<div class="card-content ">
																<img class="avatar" src="[[player.photoUrl]]"/>
																<div class="player-info">
																	<div class="player-name">[[player.name]]</div>
																	<div class="player-age">{{_calculateAge(player.birthday)}}</div>
																</div>
															</div>
														</paper-card>
													</div>
												</template>
											</div>
										</div>
									</div>
									<div>Step 3</div>
								</iron-pages>
						</div>
						<div class="card-actions">
							<paper-stepper selected="{{selected}}">
								<paper-step class="step-label">Setup</paper-step>
								<paper-step class="step-label">Players</paper-step>
								<paper-step class="step-label">Create</paper-step>
							</paper-stepper>
						</div>
					</paper-card>
			</div>

		</template>
		<script>
				Polymer({
						is: 'nubs-game',
						properties: {
							game:{
								type: Object
							},
							players:{
								type: Array,
								observer: 'createSort'
							},
							playersA:{
								type: Array
							},
							playersB:{
								type: Array
							},
							sortA:{
								type: Object
							},
							sortB:{
								type: Object
							},
							currentList:{
								type: String
							}
						},
						createSort: function(){
							this._oddEvenPlayers();
							if(this.sortA && this.sortB){
								this.sortA.destroy();
								this.sortB.destroy();
							}
							var self = this;
							var playerAList = document.getElementById("playerAList");
							if(playerAList){
								this.sortA = Sortable.create(playerAList, {
									animation: 150, 
									draggable: ".player-card-container",
									group: "players",
									ghostClass: 'ghost',
									chosenClass: "chosen",
									onUpdate: function (evt) {
										self._updateUser(evt, "A");
									},
									onAdd: function (evt) {
										self._moveUser(evt, "A");
									}
								});
							}

							var playerBList = document.getElementById("playerBList");
							if(playerBList){
								this.sortB = Sortable.create(playerBList, {
									animation: 150, 
									draggable: ".player-card-container",
									group: "players",
									ghostClass: 'ghost',
									chosenClass: "chosen",
									onUpdate: function (evt) {
										self._updateUser(evt, "B");
									},
									onAdd: function (evt) {
										self._moveUser(evt, "B");
									}
								});
							}
						},
						_oddEvenPlayers: function(index){
							var arrA = [];
							var arrB = [];
							if(this.players){
								for (var i = 0; i<  this.players.length; i++){
									if ((i+2)%2 ==0) {
										arrA.push(this.players[i]);
									}
									else {
										arrB.push(this.players[i]);
									}
								}
							}
							this.set('playersA', arrA);
							this.set('playersB', arrB);
						},
						_moveUser: function(evt, origin){
							//var oldList = evt.target.dataset.list;console.log(evt)
							var oldIndex = evt.oldIndex;
							var newIndex = evt.newIndex;
							var col = evt.item.dataset.col;
							var playersA = this.playersA;
							var playersB = this.playersB;
							if(col == "A"){
								var i = playersA.splice(oldIndex, 1)[0];
								playersB.splice(newIndex, 0, i);
							}
							if(col == "B"){
								var i = playersB.splice(oldIndex, 1)[0];
								playersA.splice(newIndex, 0, i);
							}
							this.set('playersA', playersA);
							this.set('playersB', playersB);
							this._reNumberPlayers();
						},
						_updateUser: function(evt, origin){
							var oldIndex = evt.oldIndex;
							var newIndex = evt.newIndex;
							var col = evt.item.dataset.col;
							var playersA = this.playersA;
							var playersB = this.playersB;
							if(col == "A"){
								var i = playersA.splice(oldIndex, 1)[0];
								playersA.splice(newIndex, 0, i);
							}
							if(col == "B"){
								var i = playersB.splice(oldIndex, 1)[0];
								playersB.splice(newIndex, 0, i);
							}
							this.set('playersA', playersA);
							this.set('playersB', playersB);
							this._reNumberPlayers();
						},
						_swapPlayers: function(evt){
							var el = evt.target;
							var index = Number(el.parentElement.dataset.index);

							var elmA = document.getElementById("playerA_"+index);
							var elmB = document.getElementById("playerB_"+index);

							var sibA = document.getElementById("playerA_"+(index+1));
							var sibB = document.getElementById("playerB_"+(index+1));

							if(sibA && sibB){
								this.sortA.el.insertBefore(elmB, sibA);
								this.sortB.el.insertBefore(elmA, sibB);
							}
							else{
								this.sortA.el.appendChild(elmB);
								this.sortB.el.appendChild(elmA);
							}

							var playersA = this.playersA;
							var playersB = this.playersB;
							
							var a = playersA.splice(index, 1)[0];
							var b = playersB.splice(index, 1)[0];
							
							playersA.splice(index, 0, b);									
							playersB.splice(index, 0, a);

							this.set('playersA', playersA);
							this.set('playersB', playersB);

							this._reNumberPlayers();
						},
						_reNumberPlayers: function(){
							var sortA = this.sortA.el.childNodes;
							var sortB = this.sortB.el.childNodes;

							var a = 0;
							for(var i = 0; i < sortA.length; i++){
								if(sortA[i].classList && sortA[i].classList.contains('player-card-container')){
									sortA[i].dataset.col = "A";
									sortA[i].id = "playerA_"+a;
									a++;
								}
							}
							var b = 0;
							for(var i = 0; i < sortB.length; i++){
								if(sortB[i].classList && sortB[i].classList.contains('player-card-container')){
									sortB[i].dataset.col = "B";
									sortB[i].id = "playerB_"+b;
									b++;
								}
							}
							this.notifyPath('playersA.0', playersA[0]);
							this.notifyPath('playersB.0', playersB[0]);
							this.set('playersA.length', this.playersA.length);
							this.set('playersB.length', this.playersB.length);

							if(this.playersA.length != this.playersB.length){
								document.querySelectorAll(".badge").forEach(function(a){
									a.classList.add("error");
								});
							}
							else{
								document.querySelectorAll(".badge").forEach(function(a){
									a.classList.remove("error");
								});
							}
						},
						_randomisePlayers: function(){
							var players = FirebaseHelper.shuffleArray(this.players);
							this.set('players', players);
							this.createSort();
							this.notifyPath('playersA.0', playersA[0]);
							this.notifyPath('playersB.0', playersB[0]);
						},
						_calculateAge: function(birthday) {
							var d = new Date().getTime();
							var bd = new Date(birthday).getTime(); // miliseconds from epoch
							var diff = d - bd;
							var dd = new Date(diff);
    						return Math.abs(dd.getUTCFullYear() - 1970);
						}
				});
		</script>
</dom-module>
