<link rel="import" href="nubs-toolbar-login.html" />
<dom-module id="nubs-toolbar">
		<template>
		<style>
			:host {
				display: block;
        background-color: var(--app-primary-color);
				color:#ffffff;
			}
		</style>

		<app-toolbar>
			
			<paper-icon-button icon="menu" onclick="drawer.toggle()" hidden$="[[!admin]]"></paper-icon-button>
			<div main-title>[[title]]</div>
			<nubs-toolbar-login user="{{user}}"></nubs-toolbar-login>
		</app-toolbar>


	</template>
		<script>
				Polymer({
						is: 'nubs-toolbar',
						properties: {
							title: {
									type: Object,
									value: ''
							},
							admin:{
								type: Object,
								value: false
							}
						},
						setTitle: function(value){
							this.title = value;
						}
				});
		</script>
</dom-module>