<dom-module id="nubs-toolbar-login">
		<template>
			<style>
				.avatar {
					border-radius: 50%;
					width: 36px;
					height: 36px;
					vertical-align: middle;
					margin-left: 16px;
				}
				paper-button {
					font-size: 14px;
					letter-spacing: 1px;
					color: white;
				}
			</style>
			<firebase-auth 
				id="facebookAuth" 
				user="{{user}}" 
				provider="facebook"
				status-known="{{statusKnown}}">
			</firebase-auth>
			<firebase-document
				path="/user/{{user.uid}}/picture"
				data="{{picture}}">
			</firebase-document>

			<template is="dom-if" if="[[!user]]">			
				<div id="createChannelButton" class="userInfo">
					<paper-icon-button icon="icons:account-circle" class="avatar"></paper-icon-button>
					<paper-button on-tap="login" hidden$="[[offline]]">Sign In</paper-button>
				</div>
			</template>

			<template is="dom-if" if="[[user]]">	
				<div id="createChannelButton" class="userInfo">
					<img class="avatar" src="[[user.photoURL]]">
					<paper-button on-tap="logout" hidden$="[[offline]]">Sign Out</paper-button>
				</div>
			</template>
		</template>

		<script>
				Polymer({
						is: 'nubs-toolbar-login',
						properties: {
								user: {
										type: Object
								},
								picture: {
										type: Object
								},
								statusKnown: {
										type: Object
								}
						},
						login: function() {
							var provider = new firebase.auth.FacebookAuthProvider();
							provider.addScope('user_birthday');
							firebase.auth().signInWithPopup(provider).then(function(result) {
								User.setAccessToken(result.credential.accessToken);
								var user = result.user;
							}).catch(function(error) {
								var errorCode = error.code;
								var errorMessage = error.message;
								var email = error.email;
								var credential = error.credential;
							});
						},
						logout: function() {
							return this.$.facebookAuth.signOut();
						}
				})
		</script>

</dom-module>