<link rel="import" href="nubs-games-list.html" />
<link rel="import" href="nubs-game.html" />
<dom-module id="nubs-pages">
	<template>
		<style>
			:host {
				display: block;
			}
		</style>

		<app-route route="{{route}}"
							 pattern="/games/list"
							 active="{{gamesListActive}}"></app-route>

		<app-route route="{{route}}"
							 pattern="/game/:gameKey"
							 active="{{gameActive}}"
							 data="{{gameData}}"></app-route>

		<nubs-games-list active="{{gamesListActive}}"></nubs-games-list>
		<nubs-game gameKey="{{gameData}}" active="{{gameActive}}"></nubs-game>


	</template>
	<script>
		Polymer({
			is: 'nubs-pages',
			ready: function(){
				//this._firebaseGetGames()
			},
			observers: [
				'_lockScroll(isLoading)'
			],
			_lockScroll: function(isLoading) {
				if (isLoading) {
					document.body.style.overflow = 'hidden';
				} else {
					document.body.style.overflow = 'visible';
				}
			}
		});
	</script>
</dom-module>
